# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtualenv
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Log files
*.log
*.txt

# Test outputs
nosetests.xml
coverage.xml
*.cover
*.json
.json

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
